<div class="container">
    <mat-toolbar>
        <span class="fill-remaning-space"></span>
        <span>Veículo</span>
        <span class="fill-remaning-space"></span>
    </mat-toolbar>
</div>
<div class="container">
    <form [formGroup]="service.form" class="normal-form">
        <mat-grid-list cols="2" rowHeight="300px">
            <div class="controles-container">
                <mat-grid-title>

                    <input type="hidden" formControlName="$key">
                    <mat-form-field>
                        <input formControlName="placa" matInput placeholder="Placa">
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="chassi" matInput placeholder="Chassi">
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="renavam" matInput placeholder="Renavam">
                    </mat-form-field>

                </mat-grid-title>
                <mat-grid-title>
                    <mat-form-field>
                        <input formControlName="modelo" matInput placeholder="Modelo">
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="marca" matInput placeholder="Marca">
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="ano" matInput placeholder="Ano">
                    </mat-form-field>

                    <div class="button-row">
                        <button mat-raised-button color="primary" (click)="onSalvar()" type="submit">Salvar</button>
                        <button mat-raised-button color="warn" (click)="onLimpar()">Limpar</button>
                    </div>
                </mat-grid-title>
            </div>
        </mat-grid-list>
    </form>
</div>